/* colour themes */
:root {
    --deepColour: rgb(25, 42, 86);
    --bgColour: lightblue;
}
:root[data-theme="blue"] {
    --deepColour: rgb(25, 42, 86);
    --bgColour: lightblue;
}
:root[data-theme="green"] {
    --deepColour: rgb(26, 54, 45);
    --bgColour: aquamarine;
}
:root[data-theme="brown"] {
    --deepColour: rgb(71, 33, 8);
    --bgColour: rgb(255, 231, 201);
}
:root[data-theme="black"] {
    --deepColour: rgb(44, 44, 44);
    --bgColour: rgb(206, 206, 206);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bgColour);
    overflow: hidden;
}

#game-container {
    padding: 16px;
    transition: transform 0.2s ease;
}

.bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: var(--deepColour)
}

.menu-buttons,
.theme-toggle,
.zoom-control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.menu-btn,
.theme-btn,
.zoom-btn {
    display: flex;    
    justify-content: center;
    align-items: center;
    gap: 80px;
    height: 40px;
    border-radius: 8px;
    border: none;
    cursor: pointer;    
}

.menu-btn,
.zoom-btn {
    background-color: var(--bgColour);
    color: var(--deepColour);
    font-weight: bold;
}

.menu-btn {
    padding: 8px 16px;
}

.theme-btn {
    width: 40px;
}

.zoom-btn {
    width: 44px;
    height: 44px;
}

/* FONT FOR + AND - */
.zoom-btn {
    background-color: var(--deepColour);
    border: solid var(--bgColour) 1px;
    color: var(--bgColour);
    font-size: 30px;
}

.menu-btn:hover,
.theme-btn:hover,
.zoom-btn:hover {
    transform: scale(1.05);
}

.menu-btn:focus,
.theme-btn,
.zoom-btn {
    outline: none;
}

.menu-btn.active,
.theme-btn.active {
    outline: 1px solid var(--bgColour);
    outline-offset: 2px;
}

.theme-blue {
    background-color: lightblue;
}

.theme-green {
    background-color: aquamarine;
}

.theme-brown {
    background-color: rgb(255, 231, 201);
}

.theme-black {
    background-color: rgb(206, 206, 206);
}
