
.solitaire-board {
    padding: 16px;
}

.top-row {
    display: flex;
    justify-content: center;
    gap: 96px;
    margin-bottom: 24px;
    background-color: yellowgreen;
}

.foundations {
    display: flex;
    gap: 12px;
}

.foundation,
.deck {
    position: relative;
    width: 100px;
    height: 140px;
    border-radius: 6px;
    background-color: var(--deepColour);
}

.deck-set {
    display: flex;
    gap: 12px;
}

.discard {
    position: relative;
    width: 96px;
    height: 136px;
    border-radius: 6px;
    border: 2px solid var(--deepColour);
}

.solitaire-tableau {
    display: grid;
    grid-template-columns: repeat(7, 140px);
    gap: 6px;
    justify-content: center;
    background-color: azure;
    border-color: 2px solid blue;
}

.column {
    position: relative;
    min-height: 500px;
    width: 100px;
    background-color: blanchedalmond;
}

.card {
    position: absolute;
    left: 0;
    width: 100px;
    height: 140px;
}

.column .card {
    top: calc(var(--stack-index) * 25px);
}

.foundation .card,
.card {
    top: 0;
}