:root {
    --deepColour: rgb(26, 54, 45);
}

body {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}

.freecell-board {
    padding: 16px;
}

.top-row {
    display: flex;
    justify-content: center;
    gap: 96px;
    margin-bottom: 24px;
}

.freecells,
.foundations {
    display: flex;
    gap: 12px;
}

.freecell,
.foundation {
    position: relative;
    width: 100px;
    height: 140px;
    border-radius: 6px;
    background-color: var(--deepColour);
}

.tableau {
    display: grid;
    grid-template-columns: repeat(8, 90px);
    gap: 16px;
    justify-content: center;
}

.column {
    position: relative;
    min-height: 500px;
    width: 100px;
}

.bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 12px;
    background-color: var(--deepColour)
}

.menu-btn {
    font-weight: bold;
    padding: 8px 16px;
}

.card {
    position: absolute;
    left: 0;
    width: 100px;
    height: 140px;
}

.column .card {
    top: calc(var(--stack-index) * 25px);
}

.foundation .card,
.freecell .card {
    top: 0;
}